/* ========== GLOBAL STYLES ========== */
/* ===== CUSTOM PROPERTY ===== */

/* ROOT */
:root{
    --main-text-font: 'Inter', sans-serif;
    --other-text-font: 'Montserrat', sans-serif;
    --primary-color: #4CAF4F;
    --secondary-color: #263238;
    --info-color: #2194f3;
    --neutral-black: #263238;
    --neutral-d-grey: #4d4d4d;
    --neutral-grey: #717171;
    --neutral-l-grey: #89939e;
    --neutral-grey-blue: #abbed1;
    --neutral-silver: #f5f7fa;
    --neutral-white: #fff;
    --main-text-color: #717171;
    --body-color: #fff;
}

/* HTML */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

/* ALL STYLES */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* BODY */
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-color);
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    font-family: var(--main-text-font);
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
}

/* IMG */
img{
    max-width: 100%;
    height: auto;
}

/* LINK */
a{
    text-decoration: none;
}

/* LIST NONE */
li{
    list-style-type: none;
}

/* HEADINGS */
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.primary-color{
    color: var(--primary-color);
}

/* MAIN HEADING */
.main-heading{

}

/* MAIN SUB HEADING */
.main-sub-heading{

}

/* MAIN TITLE */
.main-headline-1{
    font-size: 64px;
    line-height: 76px;
    font-weight: 600;
}

.main-headline-2{
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}

.main-headline-3{
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
}

.main-headline-4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.main-title{
    font-size: 36px;
    line-height: 24px;
    color: var(--neutral-d-grey);
    font-weight: 600;
}

.main-heading{
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: var(--neutral-d-grey);
}

.main-big-text{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.main-medium-text{
    font-size: 16px;
    line-height: 24px;
    color: var(--neutral-grey);
    font-weight: 400;
}

.main-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--neutral-grey);
}

.main-small-text{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

}
/* BUTTONS */
/* SIMPLE BUTTON */
.button{
    display: inline-block;
    white-space: nowrap;
    background-color: var(--primary-color);
    color: var(--neutral-white);
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s,
        color 0.3s;
}

.button:hover{
    background-color: var(--neutral-white);
    color: var(--primary-color);
}

.button:active{
    background-color:  var(--neutral-white);
    color: var(--primary-color);
    opacity: 0.6;
}

.button-signup{
    padding: 10px 20px;
}

.button-main{
    padding: 14px 32px; 
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1212px;
    padding: 0 30px;
    margin: 0 auto;
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}

/* HEADER SECTION */
.header{
    background-color: var(--neutral-silver);
}
.header__container {
    max-width: 1260px;
}

.header__inner {
    display: flex;
    align-items: center; 
    padding: 22px 0;
}

.header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
}

.header__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__link {
    color: #18191F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.header__link--active{
    font-weight: 500;
}

.header__reg {
    display: flex;
    align-items: center;
}

.header__reg-login {
    margin-right: 14px;
    display: inline-block;
    padding: 10px 20px;
}

.header__reg-login-link {
    color: var(--primary-color);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1000px) {
    .header__inner{
        justify-content: space-between;
        position: relative;
    }

    .header__nav{
        position: absolute;
        top: 68px;
        left: 100%;
        flex-direction: column;
        transition: all 0.3s;
    }

    .header__nav--active{
        left: 0;
    }

    .header__list{
        flex-direction: column;
        margin-bottom: 50px;
    }

    .header__item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .header__reg{
        flex-direction: column;
    }

    .header__reg-login {
        margin-right: 0px;
        margin-bottom: 14px;
    }

    .hamburger {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 28px;
        height: 24px;
        cursor: pointer;
    }

    .hamburger__item {
        width: 100%;
        height: 4px;
        background-color: var(--primary-color);

        border-radius: 5px;
        transition: all 0.3s;
    }

    .hamburger--active .hamburger__item:nth-child(1){
        transform: rotate(45deg) translate(6px, 6px);
    }

    .hamburger--active .hamburger__item:nth-child(2){
        opacity: 0;
    }

    .hamburger--active .hamburger__item:nth-child(3){
        transform: rotate(-45deg) translate(8px, -8px);
    }
}


/* HERO SECTION */
.hero-section{
    background-color: var(--neutral-silver);
}
.hero-section__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 0;
}

.hero-section__info-title {
    font-weight: 600;
    color: var(--neutral-d-grey);
    margin-bottom: 16px;
}

.hero-section__info-text {
    color: var(--neutral-grey);
    margin-bottom: 32px;
}

.hero-section__img-wrapper {
    display: flex;
}

/* CLIENTS SECTION */
.clients {
    padding: 40px 0;
}

.clients__title {
    text-align: center;
    margin-bottom: 8px;
    color: var(--neutral-d-grey);
}

.clients__text {
    text-align: center;
    margin-bottom: 16px;
    color: var(--neutral-grey);
}

.clients__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.clients__item {
    display: flex;
}

.clients__link {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* COMMUNITY SECTION */
.community {
    margin-bottom: 42px;
}

.community__title {
    text-align: center;
    margin-bottom: 8px;
    color: var(--neutral-d-grey);
}

.community__text {
    text-align: center;
    margin-bottom: 16px;
    color: var(--neutral-grey);
}

.community__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.community__item {
    width: 100%;
    max-width: 299px;
    text-align: center;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.community__item-img {
    margin-bottom: 16px;
}

.community__item-headling {
    color: var(--neutral-d-grey);
    margin-bottom: 8px;
}

.community__item-text {
    width: 100%;
    max-width: 251px;
    margin: 0 auto;
}

/* UNLOCK SECTION */
.unlock {
    margin-bottom: 48px;
}

.unlock__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unlock__info {
    padding-right: 60px;
}

.unlock__headline {
    width: 100%;
    max-width: 601px;
    color: var(--neutral-d-grey);
    margin-bottom: 16px;
}

.unlock__text {
    width: 100%;
    max-width: 601px;
    color: var(--neutral-grey);
    margin-bottom: 32px;
}

/* ACHIEVEMENTS SECTION */
.achievements {
    background-color: var(--neutral-silver);
    margin-bottom: 48px;
    padding: 64px 0;
}

.achievements__inner {
    display: flex;
    align-items: center;
}

.achievements__info {
    width: 100%;
    max-width: 540px;
}

.achievements__headline {
    color: var(--neutral-d-grey);
    margin-bottom: 8px;
}

.achievements__text {
    color: #18191F;
}

.achievements__list {
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.achievements__item {
    width: 100%;
    max-width: 255px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.achievements__item:nth-child(odd){
    margin-right: 30px;
}

.achievements__item-img {
    margin-right: 16px;
}

.achievements__item-info-headline {
    color: var(--neutral-d-grey);
}

.achievements__item-info-text {
    color: var(--neutral-grey);
}

/* CALENDAR SECTION */
.calendar {
    margin-bottom: 48px;
}

.calendar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar__info {
    padding-right: 60px;
}

.calendar__headline {
    width: 100%;
    max-width: 601px;
    color: var(--neutral-d-grey);
    margin-bottom: 16px;
}

.calendar__text {
    width: 100%;
    max-width: 601px;
    color: var(--neutral-grey);
    margin-bottom: 32px;
}

/* CUSTOMERS SECTION */
.customer {
    background-color: var(--neutral-silver);
    margin-bottom: 48px;
    padding: 32px 0;
}

.customer__inner {
    display: flex;
}

.customer__img-wrapper {
    display: flex;
    margin-right: 78px;
}

.customer__img {
    width: 100%;
    min-width: 326px;
    height: 100%;
    max-height: 326px;
    border-radius: 8px;
    
}

.customer__info-text {
    color: var(--neutral-grey);
    margin-bottom: 16px;
}

.customer__info-headline {
    margin-bottom: 8px;
}

.customer__info-subtext {
    color: var(--neutral-l-grey);
    margin-bottom: 32px;
}

.customer__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer__list {
    display: flex;
}

.customer__item:not(:last-child){
    margin-right: 41px;
}

.customer__link {
    display: flex;
    width: 48px;
    height: 48px;
}

.customer__info-link {
    display: flex;
    align-items: center;
}

.customer__info-link-arrow{
    margin-left: 8px;
}

/* COMMUNITY UPDATES SECTION */
.community-updates {
    margin-bottom: 94px;
    padding-bottom: 80px;
}

.community-updates__headline {
    color: var(--neutral-d-grey);
    text-align: center;
    margin-bottom: 8px;
}

.community-updates__text {
    width: 100%;
    max-width: 628px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    text-align: center;
}

.community-updates__list {
    display: flex;
    align-items: center;
    margin-left: -24px;
    margin-bottom: -24px;
}

.community-updates__item {
    width: 100%;
    max-width: 368px;
    position: relative;
    margin-left: 24px;
    margin-bottom: 24px;
}

.community-updates__img {
    border-radius: 8px;
}

.community-updates__item-info {
    width: 317px;
    height: 176px;
    margin: 0 auto;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    background-color: var(--neutral-silver);
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
    border-radius: 8px;
    padding: 16px;
    text-align: center;
}

.community-updates__item-info-title {
    color: var(--neutral-grey);
    margin-bottom: 16px;
}

.community-updates__item-info-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.community-updates__item-info-img{
    margin-left: 8px;
    width: 14px;
    height: 8px;
}

/* FOOTER TOP SECTION */
.footer-top {
    background-color: var(--neutral-silver);
    padding: 32px 0;
}

.footer-top__headline {
    width: 100%;
    max-width: 887px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    text-align: center;
    color: var(--neutral-black);
}

.footer-top__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top__btn {
    display: flex;
    align-items: center;
}

.footer-top__btn::after {
    content: "";
    width: 14px;
    height: 8px;
    margin-left: 8px;
    background-image: url(../images/right-white.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: background-image 0.3s;
}

.footer-top__btn:hover.footer-top__btn::after{
    background-image: url(../images/right.svg);
}

/* FOOTER SECTION */
.footer {
    background-color: var(--neutral-black);
    padding: 64px 0;
}

.footer__container {
    max-width: 1170px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 40px;
    display: flex;
}

.footer__copyright {
    color: var(--neutral-silver);
    margin-bottom: 40px;
}

.footer_socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255,0.1);
    border-radius: 50%;
    margin-left: 16px;
}

.footer__social-link {
    display: flex;
}

.footer__list {
    display: flex;
}

.footer__item:not(:last-child) {
    width: 100%;
    min-width: 160px;
}

.footer__item:last-child{
    width: 100%;
    min-width: 255px;
}

.footer__item-title {
    color: var(--neutral-white);
    margin-bottom: 24px;
}

.footer__item-link:not(:last-child){
    margin-bottom: 16px;
}

.footer__link{
    color: var(--neutral-silver);
    white-space: nowrap;
}

.footer__input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 30px;
    background-color: rgba(255, 255, 255,0.2);
    color: #D9DBE1;
}

.footer__input::placeholder{
    color: #D9DBE1;
}

.footer__item-input {
    position: relative;
}

.footer__item-input::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    right: 12px;
    top: 11px;
    background-image: url(../images/send-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}