/* ========== GLOBAL STYLES ========== */
/* ===== CUSTOM PROPERTY ===== */

/* ROOT */
:root{
    --main-text-font: 'Inter', sans-serif;
    --other-text-font: 'Montserrat', sans-serif;
    --primary-color: #4CAF4F;
    --secondary-color: #263238;
    --info-color: #2194f3;
    --neutral-black: #263238;
    --neutral-d-grey: #4d4d4d;
    --neutral-grey: #717171;
    --neutral-l-grey: #89939e;
    --neutral-grey-blue: #abbed1;
    --neutral-silver: #f5f7fa;
    --neutral-white: #fff;
    --main-text-color: #717171;
    --body-color: #fff;
}

/* HTML */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

/* ALL STYLES */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* BODY */
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-color);
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    font-family: var(--main-text-font);
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
}

/* IMG */
img{
    max-width: 100%;
    height: auto;
}

/* LINK */
a{
    text-decoration: none;
}

/* LIST NONE */
li{
    list-style-type: none;
}

/* HEADINGS */
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* MAIN HEADING */
.main-heading{

}

/* MAIN SUB HEADING */
.main-sub-heading{

}

/* MAIN TITLE */
.main-headline-1{
    font-size: 64px;
    line-height: 76px;
    font-weight: 600;
}
.main-headline-2{
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}
.main-headline-3{
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
}
.main-headline-4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.main-title{
    font-size: 36px;
    line-height: 24px;
    color: var(--neutral-d-grey);
    font-weight: 600;
}

.main-heading{
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: var(--neutral-d-grey);
}
.main-big-text{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.main-medium-text{
    font-size: 16px;
    line-height: 24px;
    color: var(--neutral-grey);
    font-weight: 400;
}
.main-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--neutral-grey);
}
.main-small-text{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

}
/* BUTTONS */
/* SIMPLE BUTTON */
.button{
    display: inline-block;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: var(--neutral-white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.button-sign-up{
    padding: 10px 20px;
}
.button-main{
    padding: 14px 32px;
}
.button-arrow{
    padding: 14px 32px;

}

.button:hover{
    
}

.button:active{
    
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1212px;
    padding: 0 30px;
    margin: 0 auto;
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}

